adbutils==2.12.0
annotated-doc==0.0.4
annotated-types==0.7.0
ast_serialize==0.6.0
black==26.5.1
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
decorator==5.3.1
deprecation==2.1.0
idna==3.18
iniconfig==2.3.0
librt==0.13.0
loguru==0.7.3
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
mypy==2.3.0
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.10.1
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.34.2
retry2==0.9.5
rich==15.0.0
ruff==0.15.22
shellingham==1.5.4
typer==0.27.0
typing-inspection==0.4.2
typing_extensions==4.16.0
uiautomator2==3.7.0
urllib3==2.7.0
